<% content_for :title, "Nueva Categoria" %>
<div class="container text-center">
<h1>Nueva Categoria</h1>

<%= render "form", categorium: @categorium %>

<br>

<div>
  <%= link_to "Regresar Categoria", categoria_path %>
</div>
</div>
