<% content_for :title, "New usuario" %>
<div class="container text-center">
<h1>Nuevo Usuario</h1>

<%= render "form", usuario: @usuario %>

<br>

<div>
  <%= link_to "Regresar a Usuarios", usuarios_path %>
</div>
</div>