<% content_for :title, "Editar articulo" %>
<div class="container text-center">
<h1>Editar Articulo</h1>

<%= render "form", articulo: @articulo %>

<br>

<div>
  <%= link_to "Mostrar Articulo", @articulo %> |
  <%= link_to "Regresar Articulos", articulos_path %>
</div>
</div>
